<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-3.3.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <title>{{title}}</title>
</head>
<body>
    Streamimg Page
    <div>

    </div>
</body>

<script>

    console.log('http://'+document.domain+':'+location.port)
    var socket = io.connect('http://'+document.domain+':'+location.port);
    
    socket.on('connect', function(){
        console.log("Connect")
        socket.on('received', 'test')
    })

    
    $(function(){


    });


</script>

</html>
